<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Player</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <header class="header-box">
        <div class="logo">
            <img src="/css/images/phl-logo.png" alt="PHL Logo">
        </div>

        <div class="headers">
            <h1>Peninsula Hoopers League: Add a Player</h1>
        </div>
    </header>
    <main class="team-form">
        <form action="/users/<%= user._id %>/teams/<%= team._id %>/players" method="POST">

            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" id="firstname" required>

            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" required>

            <label for="position">Position:</label>
            <select name="position" id="position" required>
                <option value="PG">PG</option>
                <option value="SG">SG</option>
                <option value="C">C</option>
                <option value="SF">SF</option>
                <option value="PF">PF</option>
                <option value="Coach">Coach</option>
            </select>

            <label for="height">Height:</label>
            <input type="text" name="height" id="height" placeholder="Example: 6'2&quot;" required>

            <button type="submit">Add Player</button>
        </form>
    </main>
</body>
</html>