<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">
    <title>PHL Sign-In</title>
</head>
<body>
    <h1>WELCOME TO THE PENINSULA HOOPERS LEAGUE PAGE</h1>

</body>
</html>