<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHL Sign-In</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">
</head>
<body>
    <div class="signup-box">
        <div>
            <p><strong>Peninsula Hoopers League</strong></p>
        </div>
        <div class="logo">
            <img src="/css/images/phl-logo.png" alt="PHL Logo">
        </div>

        <div>
            <p>Fill out the fields to create an account.</p>
        </div>

        <form action="/auth/sign-up"  method="POST">
            <label for="firstname"><strong>First Name:</strong></label>
            <input type="text" name="firstname" id="firstname" required/>

            <br><br>

            <label for="lastname"><strong>Last Name:</strong></label>
            <input type="text" name="lastname" id="lastname" required/>

            <br><br>

            <label for="username"><strong>Username:</strong></label>
            <input type="text" name="username" id="username" required/>
            
            <br><br>

            <label for="password"><strong>Password:</strong></label>
            <input type="password" name="password" id="password" required/>

            <br><br>

            <label for="confirmPassword"><strong>Confirm Password:</strong></label>
            <input type="password" name="confirmPassword" id="confirmPassword" required/>

            <br><br>

            <div class="signup-button">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>

</body>
</html>