<nav>
    <a href="/">Home</a>
    <% if(user) { %>
    <a href="/users/<%=user._id%>/teams">View My Teams</a>
    <a href="/users">Explore Our Community</a>
    <a href="/auth/sign-out" class="sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in" class="sign-in">Sign In</a>
        <a href="/auth/sign-up" class="sign-out">Sign Up</a>
    <% } %>
</nav>
  