<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Teams</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <main>
        <section>
            <div class="logo">
                <img src="/css/images/phl-logo.png" alt="PHL Logo">
                <h1></h1>
            </div>
        </section>
    </main>
</body>
</html>